WiFiLab/MQTTviaWiFi/flows.json
[
    {
        "id": "e6f449ccae99e0e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f5d078f887a6036",
        "type": "mqtt in",
        "z": "e6f449ccae99e0e4",
        "name": "recordedTemperature",
        "topic": "recordedTemperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5cdf515b4c41fcc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "028a26c1a80c8712",
                "5fa631cb5ed0de4e"
            ]
        ]
    },
    {
        "id": "e270235c13018f9a",
        "type": "mqtt in",
        "z": "e6f449ccae99e0e4",
        "name": "recordedHumidity",
        "topic": "recordedHumidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5cdf515b4c41fcc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "8881d06f8a7274e4",
                "5a702a550e1991b8"
            ]
        ]
    },
    {
        "id": "0fe0da2a336e4dfb",
        "type": "mqtt in",
        "z": "e6f449ccae99e0e4",
        "name": "recordedPressure",
        "topic": "recordedPressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5cdf515b4c41fcc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "9b19fd9e302b8afb",
                "3fbc3a990add04bb"
            ]
        ]
    },
    {
        "id": "f6db7db7b37b1722",
        "type": "mqtt in",
        "z": "e6f449ccae99e0e4",
        "name": "recordedBrightness",
        "topic": "recordedBrightness",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5cdf515b4c41fcc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "efec6be8767688ed",
                "b39c26377363d97a"
            ]
        ]
    },
    {
        "id": "028a26c1a80c8712",
        "type": "debug",
        "z": "e6f449ccae99e0e4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "8881d06f8a7274e4",
        "type": "debug",
        "z": "e6f449ccae99e0e4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b19fd9e302b8afb",
        "type": "debug",
        "z": "e6f449ccae99e0e4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "efec6be8767688ed",
        "type": "debug",
        "z": "e6f449ccae99e0e4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "5fa631cb5ed0de4e",
        "type": "ui_chart",
        "z": "e6f449ccae99e0e4",
        "name": "Temp vs. Time",
        "group": "592eefd3cbf956b1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp vs. Time",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "30",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5a702a550e1991b8",
        "type": "ui_chart",
        "z": "e6f449ccae99e0e4",
        "name": "Hum vs. Time",
        "group": "592eefd3cbf956b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum vs. Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3fbc3a990add04bb",
        "type": "ui_chart",
        "z": "e6f449ccae99e0e4",
        "name": "Pres vs. Time",
        "group": "592eefd3cbf956b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pres vs. Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "500",
        "ymax": "2000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b39c26377363d97a",
        "type": "ui_chart",
        "z": "e6f449ccae99e0e4",
        "name": "Britnss vs. Time",
        "group": "592eefd3cbf956b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Britnss vs. Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5cdf515b4c41fcc5",
        "type": "mqtt-broker",
        "name": "ZWuMQTT",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "592eefd3cbf956b1",
        "type": "ui_group",
        "name": "Info",
        "tab": "52c736b444d16174",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52c736b444d16174",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]